.cardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

@media (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
