/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #dfffd8;
  width: 100%;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo {
  font-weight: bold;
}

.loginButton {
  padding: 5px 10px;
  width: 6%;
  border: 1px solid #333;
  background-color: #044313;
  color: white;
  font-weight: bolder;
  border-radius: 5%;
  cursor: pointer;
}
.navLinks {
  display: flex;
  font-style: none;
  gap: 15px;
  text-decoration: none;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-weight: bolder;
}

/* Hamburger icon styling */
.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.hamburgerMenu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.hamburgerMenu.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburgerMenu.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.loginLink {
  display: none;
}

/* Media query mobile */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #dfffd8;
    z-index: 10;
  }
  .loginButton {
    display: none;
  }

  .loginLink {
    display: contents;
  }
}
